
html {

  /* darkula color definition to start from, because lazy
   *
   * black          #000000
   * darker_grey    #121212
   * dark_grey      #262626
   * grey           #444444
   * light_grey     #585858
   * lighter_grey   #666666
   * white          #c0c0c0
   * dark_white     #9e9e9e
   * blue           #5f87af
   * bright_purple  #5f00ff
   * cyan           #00d7d7
   * dark_orange    #af5f00
   * dark_sea_green #5f875f
   * green          #00af00
   * light_cyan     #5fafaf
   * magenta        #ff0087
   * orange         #d78700
   * purple         #8787af
   * red            #d70000
   * red_orange     #af5f5f
   * yellow         #808000
   * yellow_orange  #d7af00
   */

  --main-bg:    #121212; /* darker_grey */
  --main-fg:    #585858; /* light_grey */
  --content-bg: #262626; /* dark_grey */
  --content-fg: #666666; /* lighter_grey */

  --ui-bg:           #444444; /* grey */
  --ui-fg:           #666666; /* lighter_grey */
  --ui-accent:       #585858; /* light_grey */
  --ui-accent-focus: #666666; /* lighter_grey */

  --action-color:       #5f87af; /* blue */
  --action-focus-color: #00d7d7; /* cyan */
  --acting-color:       #ff0087; /* magenta */
  --acted-color:        #5f00ff; /* bright_purple */

}

* {
  font-family: monospace;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0.3em 0.5em;
  height: 100%;
}

html, body {
  background-color: var(--main-bg);
  color: var(--main-fg);
}

a         { color: var(--action-color); text-decoration: none; }
a:hover,
a:focus   { color: var(--action-focus-color); text-decoration: underline }
a:active  { color: var(--acting-color); }
a:visited { color: var(--acted-color); }

header { font-size: 2em; }
footer { font-size: 1em; }

main, section {
  background-color: var(--content-bg);
  color: var(--content-fg);
  border-radius: 0.3em;
  padding: 0.3em 0.5em;
}

main {
  height: 90%;
  font-family: monospace;
  position: relative;
  overflow: clip;
  font-size: 18pt;
  line-height: 1.0;
  --xlate-x: 0;
  --xlate-y: 0;
}

.tile {
  --x: 0;
  --y: 0;
  position: absolute;
  left: calc((var(--x) - var(--xlate-x)) * 1em);
  top:  calc((var(--y) - var(--xlate-y)) * 1em);
  width: 1em;
  text-align: center;
}

p {
  margin: 0.3em 0.5em;
  padding: 0;
}

input, textarea {
  background-color: var(--ui-bg);
  color: var(--ui-fg);
  border: 0.1em solid var(--ui-accent);
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  color: var(--action-focus-color);
  border-color: var(--action-focus-color);
}

button {
  background-color: var(--ui-bg);
  color: var(--action-color);
  border-color: var(--ui-accent);
}

button:hover, button:focus { color: var(--action-focus-color); border-color: var(--action-focus-color); }
button:active              { color: var(--acting-color); border-color: var(--acting-color); }

fieldset {
  margin: 0.3em 0;
  background-color: var(--content-bg);
  color: var(--content-fg);
  border-radius: 0.3em;
  border-color: var(--ui-accent);
  padding: 0.3em 0.5em;
}

details {
  margin: 0.3em 0;
  padding: 0.3em 0.5em;
}

ul, ol {
  margin: 0.3em 0;
  padding-top: 0;
  padding-bottom: 0;
}
/* TODO better list styles */

/* vim:set ts=2 sw=2 expandtab */
