html {

  /* darkula color definition to start from, because lazy
   */

  --black-rgb:          0, 0, 0;
  --darker-grey-rgb:    18, 18, 18;
  --dark-grey-rgb:      38, 38, 38;
  --grey-rgb:           68, 68, 68;
  --light-grey-rgb:     88, 88, 88;
  --lighter-grey-rgb:   102, 102, 102;
  --white-rgb:          192, 192, 192;
  --dark-white-rgb:     158, 158, 158;
  --blue-rgb:           95, 135, 175;
  --bright-purple-rgb:  95, 0, 255;
  --cyan-rgb:           0, 215, 215;
  --dark-orange-rgb:    175, 95, 0;
  --dark-sea-green-rgb: 95, 135, 95;
  --green-rgb:          0, 175, 0;
  --light-cyan-rgb:     95, 175, 175;
  --magenta-rgb:        255, 0, 135;
  --orange-rgb:         215, 135, 0;
  --purple-rgb:         135, 135, 175;
  --red-rgb:            215, 0, 0;
  --red-orange-rgb:     175, 95, 95;
  --yellow-rgb:         128, 128, 0;
  --yellow-orange-rgb:  215, 175, 0;

  --black:          rgb(var(--black-rgb));
  --darker-grey:    rgb(var(--darker-grey-rgb));
  --dark-grey:      rgb(var(--dark-grey-rgb));
  --grey:           rgb(var(--grey-rgb));
  --light-grey:     rgb(var(--light-grey-rgb));
  --lighter-grey:   rgb(var(--lighter-grey-rgb));
  --white:          rgb(var(--white-rgb));
  --dark-white:     rgb(var(--dark-white-rgb));
  --blue:           rgb(var(--blue-rgb));
  --bright-purple:  rgb(var(--bright-purple-rgb));
  --cyan:           rgb(var(--cyan-rgb));
  --dark-orange:    rgb(var(--dark-orange-rgb));
  --dark-sea-green: rgb(var(--dark-sea-green-rgb));
  --green:          rgb(var(--green-rgb));
  --light-cyan:     rgb(var(--light-cyan-rgb));
  --magenta:        rgb(var(--magenta-rgb));
  --orange:         rgb(var(--orange-rgb));
  --purple:         rgb(var(--purple-rgb));
  --red:            rgb(var(--red-rgb));
  --red-orange:     rgb(var(--red-orange-rgb));
  --yellow:         rgb(var(--yellow-rgb));
  --yellow-orange:  rgb(var(--yellow-orange-rgb));

  --main-bg: var(--darker-grey);
  --main-fg: var(--light-grey);

  --grid-bg: transparent;

  --content-bg: var(--dark-grey);
  --content-fg: var(--dark-white);

  --ui-bg: var(--dark-grey);
  --ui-fg: var(--dark-white);
  --ui-disabled: var(--lighter-grey);

  --ui-accent:       var(--grey);
  --ui-accent-focus: var(--light-grey);

  --action-color:       var(--blue);
  --action-focus-color: var(--cyan);
  --acting-color:       var(--magenta);
  --acted-color:        var(--bright-purple);

  font-family: sans;
  font-size: 12pt;
}

html, * { box-sizing: border-box; }

body header,
body footer {
  display: none;
}

body.showUI header,
body.showUI footer {
  display: block;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0.3em 0.5em;
  height: 100%;
  overflow: hidden;
}

html, body {
  background-color: var(--main-bg);
  color: var(--main-fg);
}

a         { color: var(--action-color); text-decoration: none; }
a:hover,
a:focus   { color: var(--action-focus-color); text-decoration: underline }
a:active  { color: var(--acting-color); }

header, footer {
  height: 1.5em; 
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--content-bg);
  color: var(--content-fg);
  padding: 0 0.5em;
}

header { top: 0 }
footer { bottom: 0 }

.buttonbar.left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.buttonbar.right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.buttonbar.left.float button { float: left; clear: left; }
.buttonbar.right.float button { float: right; clear: right; }

.buttonbar.moves button {
  min-width: 2em;
  font-size: 2em;
}

.buttonbar.actions button {
  min-width: 1em;
  font-size: 1em;
}

button[data-legend]::after {
  font-size: 0.5em;
  content: attr(data-legend);
  color: var(--ui-fg);
}

main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body.showUI main {
  top: 1.5em;
  bottom: 1.5em;
}

aside {
  position: absolute;
  overflow: auto;
  z-index: 1000;
  top: 0;
  max-height: 100%;
}

body:not(.showUI) aside {
  left: 20%;
  right: 20%;
}

body.showUI aside {
  right: 0;
  width: 40%;
}

body.running aside { display: none; }

aside section               { margin-top: 1em; }
aside section:first-of-type { margin-top: 0; }

section {
  background-color: var(--content-bg);
  color: var(--content-fg);
  margin-top: 1em;
  padding: 0.3em 0.5em;
  border-radius: 0.3em;
}

.grid {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  line-height: 1.0;
  font-size: 18pt;
  user-select: none;

  --tile-width:  1em;
  --tile-height: 1em;

  --xlate-x: 0;
  --xlate-y: 0;

  background-color: var(--grid-bg);
  font-family: monospace;
}

body.running .grid { cursor: none; }

.grid .tile {
  --x: 0;
  --y: 0;
  position: absolute;
  left: calc((var(--x) - var(--xlate-x)) * var(--tile-width));
  top:  calc((var(--y) - var(--xlate-y)) * var(--tile-height));
  width: var(--tile-width);
  height: var(--tile-height);

  text-align: center;
  vertical-align: middle;
  user-select: none;
}

.grid .tile.solid { z-index: 1; }
.grid .tile.mind  { z-index: 2; }

.grid.inspectable {
  --inspect-pinned-color: var(--magenta);
  --inspect-cursor-color: var(--cyan);
  cursor: crosshair;
}
.grid.inspectable .tile.inspect-cursor {
  z-index: 10000;
  border: 0.1em solid var(--inspect-cursor-color);
}
.grid.inspectable .tile.inspect-cursor.pinned {
  border-color: var(--inspect-pinned-color);
}

label       .tip { display: none }
label:hover .tip { display: block }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 1em 0.5em;
  padding: 0;
}

label:hover {
  color: var(--action-focus-color);
}

input, textarea {
  background-color: var(--ui-bg);
  color: var(--ui-fg);
  border: 0.1em solid var(--ui-accent);
  border-radius: 0.3em;
}

input:hover, textarea:hover, select:hover,
input:focus, textarea:focus, select:focus {
  color: var(--action-focus-color);
  border-color: var(--action-focus-color);
}

select, button {
  background-color: var(--ui-bg);
  color: var(--action-color);
  border: 0.1em solid var(--ui-accent);
  border-radius: 0.3em;
}

button:hover, button:focus { color: var(--action-focus-color); border-color: var(--action-focus-color); }
button:active              { color: var(--acting-color); border-color: var(--acting-color); }

button:disabled {
  color: var(--ui-disabled) !important;
  border-color: var(--ui-disabled) !important;
}

fieldset {
  margin: 0.3em 0;
  background-color: var(--content-bg);
  color: var(--content-fg);
  border-radius: 0.3em;
  border: 0.1em solid var(--ui-accent);
  padding: 0 0.5em 0.3em 0.5em;
}

details {
  margin: 0.3em 0;
  padding: 0.3em 0.5em;
}

ul, ol, dl {
  margin: 0.3em 0;
  padding-top: 0;
  padding-bottom: 0;
}

.value { user-select: all }

.linkbar span:not(:first-of-type):before { content: " | " }

/* TODO better list styles */

/* vim:set ts=2 sw=2 expandtab */
