html {
  --main-bg: var(--grey);

  --dla-player: var(--yellow-orange);
}

.grid #inspector {
  float: left;
  visibility: hidden;
  padding: 0;
  z-index: 1000;
}

.grid #inspector textarea {
  border: none;
  resize: none;
  user-select: all;
}

.grid.retro #inspector {
  visibility: visible;
}

.grid .mover.input {
  color: var(--dla-player);
}

.grid .tile.particle {
  background-color: var(--light-grey);
  color:            var(--dark-white);
}

.grid .tile.ghost { visibility: hidden }

.grid .tile.particle.live {
  color: var(--red);
  transform: rotate(calc(var(--heading) + 0.75turn));
}

.grid.retro { background-color: var(--black); }

.grid.retro .tile.ghost { visibility: visible }

.grid.retro .tile.particle.void  {
  background-color: #47175f;
  color: var(--purple);
}

.grid.retro .tile.particle.prime {
  background-color: #1f472f;
  color: var(--dark-sea-green);
}
