@import "./index.css";

:root {
  --main-bg: var(--grey);

  --dla-player: var(--yellow-orange);
}

.grid .mover.input,
.grid .mover.inputable {
  color: var(--dla-player);
}

.grid .tile.particle {
  background-color: var(--light-grey);
  color:            var(--dark-white);
}

.grid .tile.ghost { visibility: hidden }

.grid .tile.particle.live {
  color: var(--red);
  transform: rotate(calc(var(--heading) - 0.5turn));
}

.grid.retro { background-color: var(--black); }

.grid.retro .tile.ghost { visibility: visible }

.grid.retro .tile.particle.void  {
  background-color: #47175f;
  color: var(--purple);
}

.grid.retro .tile.particle.prime {
  background-color: #1f472f;
  color: var(--dark-sea-green);
}

.grid {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

aside.console {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.tile               { z-index: 1 }
.tile.particle      { z-index: 10 }
.tile.particle.live { z-index: 100 }
.tile.mover         { z-index: 1000 }

.plane { display: none }

.plane[data-plane="solid-meme"] { z-index: 1 }
.plane[data-plane="solid"]      { z-index: 10 }

.grid:not(.playing) .plane:not(.meme) { display: initial }
.grid.playing .plane.meme { display: initial }

.grid.playing .tile.particle[data-light]       { opacity: var(--light, 15%); }
.grid.playing .tile.particle:not([data-light]) { opacity: 15%; }

.tile.mover { --lightInit: 8; }

.tile.particle.prime.live { --lightInit: 4.0; }
