@import "./index.css";

:root {
  --main-bg: var(--grey);
}

/** tile grid plane mechanics */

/* planes must be explicitly shown */
.plane { display: none }

.grid:not(.playing) .plane:not(.meme) { display: initial }
.grid.playing .plane.meme { display: initial }

/* the player's meme plane(s) contain subjective copies of objective tiles:
 * - ones that are within Field Of View (FOV) have a --light variable
 * - where-as ones that are merely memories of previously seen tiles do not
 */
.plane.meme .tile[data-light] { opacity: var(--light, 15%); }
.plane.meme .tile:not([data-light]) { opacity: 15%; }

/** tile grid tiles */

.tile               { z-index: 1 }
.tile.particle      { z-index: 10 }
.tile.particle.live { z-index: 100 }
.tile.mover         { z-index: 1000 }

.tile.particle {
  background-color: var(--light-grey);
  color:            var(--dark-white);
}

.tile.particle.live {
  color: var(--red);
  transform: rotate(calc(var(--heading) - 0.5turn));
}

.tile.mover           { color: var(--dark-orange); }
.tile.mover.inputable { color: var(--yellow-orange); }

.tile.ghost { visibility: hidden }

.grid.retro { background-color: var(--black); }

.grid.retro .tile.ghost { visibility: visible }

.grid.retro .tile.particle.void  {
  background-color: #47175f;
  color: var(--purple);
}

.grid.retro .tile.particle.prime {
  background-color: #1f472f;
  color: var(--dark-sea-green);
}

aside.console {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

/* light sources */
.tile.mover { --lightInit: 8; }
.tile.particle.prime.live { --lightInit: 4.0; }
