
*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rebeccapurple;
  height: 100%;
  width: 100%;
  margin: 0;
}

#container {
  position: absolute;
  height: 100%;
  width: 100%;
  perspective: 500px;
  overflow: hidden;
}

aside.menu {
  overflow: auto;
  max-height: 100%;
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 40%;
}

#context {
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  position: absolute;
}

.facet {
  outline: dotted black 10px;
  background-color: #eee;
  position: absolute;
  backface-visibility: hidden;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  font-size: 20px;
  background: #eee;
}

.underworld {
  background-color: #eee;
  color: white;
}

.overworld {
  background-color: rebeccapurple;
  color: white;
  backface-visibility: visible;
}
