html {
  font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD',
    Georgia, serif;

  user-select: none;
  -webkit-user-select: none;

  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

*,
::before,
::after {
  user-select: none;
  -webkit-user-select: none;

  touch-action: manipulation;
  -webkit-touch-action: manipulation;

  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #8967aa; /* rebeccapurple; */
  height: 100dvh;
  width: 100dvw;
  margin: 0;

  overflow-y: hidden;
  overflow-x: hidden;
}

.play {
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.healthBar,
.staminaBar {
  position: absolute;
  top: 0;
  width: calc(var(--tileSizePx) / 2 * 5px);
  flex: 0 1 auto;
}

.staminaBar {
  right: 0;
  transform-origin: calc(100% + 10px) -10px;
}

.healthBar {
  left: 0;
  transform-origin: -10px -10px;
}

#context {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  transform-style: preserve-3d;
}

.foundation {
  position: absolute;
  width: calc(var(--tileSizePx) * 1px);
  height: calc(var(--tileSizePx) * 1px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: calc(var(--tileSizePx) * 0.4px);
  color: #aaa;
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.origin {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  transform-origin: top left;
}

.viewport {
  position: absolute;
  overflow: visible;
  top: 0;
  left: 0;
  transform-origin: top left;
}

.face {
  font-size: calc(var(--tileSizePx) * 1px);
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
}

.facet {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 0;
  margin: 0;
  padding: 0;
  backface-visibility: hidden;
  overflow: hidden;
  transform-origin: top left;
  top: 0;
  left: 0;
}

.agent {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--tileSizePx) * 1px);
  height: calc(var(--tileSizePx) * 1px);
  font-size: 80px;
  color: black;
  overflow: hidden;
  top: 0;
  left: 0;
}

.atmosquare {
  position: absolute;
  width: calc(var(--tileSizePx) * 1px);
  height: calc(var(--tileSizePx) * 1px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: yellow;
  font-size: calc(var(--tileSizePx) * 0.6px);
  backface-visibility: visible;
}

.firmament {
  position: absolute;
  width: calc(var(--tileSizePx) * 1px);
  height: calc(var(--tileSizePx) * 1px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rebeccapurple;
  color: white;
  font-size: calc(var(--tileSizePx) * 0.2px);
  backface-visibility: visible;
}

text.moji {
  transform: translateY(0.25px);
  font-size: 0.7px;
  /* dominant-baseline: central; DOES WORK ON iOS */
  text-anchor: middle;
}

rect.backTile {
  --light: calc(255 * 0.7);
  stroke: rgba(var(--light), var(--light), var(--light), 1);
  stroke-width: 0.0125px;
}

.panel {
  font-size: 20px;
  color: black;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 10px;
  margin: 10px;
  border: solid 4px rgba(0, 0, 0, 25%);
  border-radius: 50px;
}

.controlPanel {
  --liftBottom: 60px;

  user-select: none;
  cursor: pointer;
  position: absolute;
  bottom: var(--liftBottom);
  right: 0;

  transform-origin: calc(100% + 30px) calc(100% + 10px + var(--liftBottom));
}

.hamburgerPanel {
  --liftBottom: 60px;

  position: absolute;
  bottom: var(--liftBottom);
  left: 0;

  transform-origin: -10px calc(10px + var(--liftBottom));
}

.dialog {
  position: absolute;
  font-size: calc(var(--tileSizePx) * 0.5px);
  top: calc(var(--tileSizePx) * 0.5px);
  left: 0;
  right: 0;
  text-align: left;
  padding-left: 1.6em;
  text-indent: -1.4em;
}

.blade {
  --margin: calc(var(--tileSizePx) * 3px + 30px);
  transform-origin: 0 calc(100% + var(--margin));
  position: absolute;
  bottom: calc(var(--margin));
  left: 0;
}

.reticle {
  fill: transparent;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-dasharray: 0.13;
  stroke-width: 0.05;
  z-index: 1;
}

b {
  white-space: nowrap;
}

.options {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

select {
  width: 100%;
  padding: 10px;
  font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD',
    Georgia, serif;
  font-size: calc(var(--tileSizePx) * 0.4px);
  border-radius: calc(var(--tileSizePx) * 0.4px);
  border: solid 4px rgba(0, 0, 0, 25%);
  background: transparent;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.scrim {
  position: fixed;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.cancel {
  position: fixed;

  top: 0;
  right: 0;

  font-size: calc(var(--tileSizePx) * 0.6px);
  text-align: center;

  padding: 10px;
  margin: 10px;

  height: calc(var(--tileSizePx) * 1px);
  width: calc(var(--tileSizePx) * 1px);
}

.menu {
  position: absolute;
  min-height: 100%;
  width: 100%;
  padding: calc(var(--tileSizePx) * 0.25px);
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input[type='text'],
.input[type='number'] {
  font-size: calc(var(--tileSizePx) * 0.8px);
  height: calc(var(--tileSizePx) * 1px);
  border-radius: calc(var(--tileSizePx) * 0.5px);
  border: solid 4px rgba(0, 0, 0, 25%);
  padding-left: calc(var(--tileSizePx) * 0.5px);
  padding-right: calc(var(--tileSizePx) * 0.5px);
  background-color: rgba(0, 0, 0, 12.5%);
  max-width: 90%;
}

input[type='color'] {
  height: calc(var(--tileSizePx) * 1px);
  width: calc(var(--tileSizePx) * 1px);
}

.choice {
  position: relative;
  display: block;
  max-width: 100%;
  overflow: hidden;
}

.label {
  font-weight: bold;
  font-size: calc(var(--tileSizePx) * 0.8px);
  height: calc(var(--tileSizePx) * 1px);
  top: 0;
  padding-left: calc(var(--tileSizePx) * 1px);
  white-space: nowrap;
}

.option {
  font-size: calc(var(--tileSizePx) * 0.8px);
  height: calc(var(--tileSizePx) * 1px);
  top: calc(var(--tileSizePx) * var(--index) * 1px);
  padding-left: calc(var(--tileSizePx) * 1px);
  white-space: nowrap;
}

.halfOption {
  font-size: calc(var(--tileSizePx) * 0.35px);
  font-family: Arial Narrow;
}

.cursor {
  position: absolute;
  font-size: calc(var(--tileSizePx) * 0.8px);
  top: calc(var(--tileSizePx) * var(--index) * 1px);
  height: calc(var(--tileSizePx) * 1px);
}

.debug {
  overflow: scroll;
  max-height: 30%;
  white-space: pre;
  padding: 20px;
  z-index: 10000;
  font-size: 40px;
  font-weight: bold;
  position: fixed;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
