html {
  font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD',
    Georgia, serif;

  user-select: none;
  touch-action: none;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  height: 100vh;
  width: 100vw;

  overflow: hidden;
}

*,
::before,
::after {
  user-select: none;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #8967aa; /* rebeccapurple; */
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}

aside.menu {
  overflow: auto;
  max-height: 100%;
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 40%;
}

.healthBar,
.staminaBar {
  position: absolute;
  top: 0;
  width: calc(var(--tileSizePx) / 2 * 5px);
  flex: 0 1 auto;
}

.staminaBar {
  right: 0;
}

.healthBar {
  left: 0;
}

#context {
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  transform-style: preserve-3d;
  position: absolute;
}

.foundation {
  position: absolute;
  width: calc(var(--tileSizePx) * 1px);
  height: calc(var(--tileSizePx) * 1px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: calc(var(--tileSizePx) * 0.4px);
  color: #aaa;
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.origin {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  transform-origin: top left;
}

.viewport {
  position: absolute;
  overflow: visible;
  top: 0;
  left: 0;
  transform-origin: top left;
}

.face {
  font-size: calc(var(--tileSizePx) * 1px);
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
}

.facet {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 0;
  margin: 0;
  padding: 0;
  backface-visibility: hidden;
  overflow: hidden;
  transform-origin: top left;
  top: 0;
  left: 0;
}

.agent {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--tileSizePx) * 1px);
  height: calc(var(--tileSizePx) * 1px);
  font-size: 80px;
  color: black;
  overflow: hidden;
  top: 0;
  left: 0;
}

.atmosquare {
  position: absolute;
  width: calc(var(--tileSizePx) * 1px);
  height: calc(var(--tileSizePx) * 1px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: yellow;
  font-size: calc(var(--tileSizePx) * 0.6px);
  backface-visibility: visible;
}

.firmament {
  position: absolute;
  width: calc(var(--tileSizePx) * 1px);
  height: calc(var(--tileSizePx) * 1px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rebeccapurple;
  color: white;
  font-size: calc(var(--tileSizePx) * 0.2px);
  backface-visibility: visible;
}

text.moji {
  transform: translateY(0.25px);
  font-size: 0.7px;
  /* dominant-baseline: central; DOES WORK ON iOS */
  text-anchor: middle;
}

rect.backTile {
  --light: calc(255 * 0.7);
  stroke: rgba(var(--light), var(--light), var(--light), 1);
  stroke-width: 0.0125px;
}

.panel {
  font-size: 20px;
  color: black;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 10px;
  margin: 10px;
  border: solid 4px rgba(0, 0, 0, 25%);
  border-radius: 50px;
}

.controlPanel {
  user-select: none;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
}

.hamburgerPanel {
  position: absolute;
  bottom: 0;
  left: 0;
}

.dialog {
  position: absolute;
  font-size: calc(var(--tileSizePx) * 0.5px);
  top: calc(var(--tileSizePx) * 0.5px);
  left: 0;
  right: 0;
  text-align: left;
  padding-left: 1.6em;
  text-indent: -1.4em;
}

.menu {
  position: relative;

  color: black;
  padding: 10px;
}

.menuCurb {
  position: absolute;
  /* position to compensate for padding */
  top: 10px;
  left: 10px;
}

.menuLabel {
  padding-left: calc(var(--tileSizePx) * 1px);
  padding-right: calc(var(--tileSizePx) * 0.5px);
  height: calc(var(--tileSizePx) * 1px);
  line-height: calc(var(--tileSizePx) * 1px);
  /* https://css-tricks.com/snippets/css/font-stacks/ */
  font-family: 'Segoe UI', Candara, 'Bitstream Vera Sans', 'DejaVu Sans',
    'Bitstream Vera Sans', 'Trebuchet MS', Verdana, 'Verdana Ref', sans-serif;
  font-size: calc(var(--tileSizePx) * 0.7px);
  margin: 0;
}

.blade {
  transform-origin: 0 calc(100% + var(--tileSizePx) * 3px + 10px);
  position: absolute;
  bottom: calc(var(--tileSizePx) * 3px + 10px);
  left: 0;
}

.reticle {
  fill: transparent;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-dasharray: 0.13;
  stroke-width: 0.05;
  z-index: 1;
}

b {
  white-space: nowrap;
}
