:root {
  background-color: #333;
  color: #ddd;
}

input, button, select, textarea {
  background-color: #444;
  border: 0.1em solid #555;
  color: #eee;
}

:root, body { height: 100%; }

* {
  user-select: none;
}

/* generic card things */
.card-pile, .card {
  position: absolute;

  perspective: 1000px;
  perspective-origin: center;

  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.card-pile {
  border: 1em outset #ccc;
}

.card-pile .card {
  position: relative;
  top: 0 !important;
  left: 0 !important;
  perspective: none;
  display: none;
}

.card-pile .card:first-of-type {
  display: block;
}

.card .card-front,
.card .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card .card-back { transform: rotateY(180deg); }

.card {
  --flip: 0deg; /* cards default to flipped face down 180deg to turn them up */
  --spin: 0deg; /* 180deg for a reversal; 90deg or 270deg to cross */

  transform: rotateY(calc(180deg + var(--flip))) rotateZ(calc(0deg + var(--spin)));
}

/* deck specifics */

.card.rws,
.card.rws img {
  width: 300px;
  height: 517px;
}
