
/* tile stacking priorities */
.tile.floor { z-index:  1 }
.tile       { z-index:  5 }
.tile.wall  { z-index: 10 }
.tile.mover { z-index: 20 }
.tile.input { z-index: 50 }

.grid {
  --grid-bg: hsl(0, 0, 0);
}

.plane.meme .tile[data-light] {
  opacity: var(--light, 15%);
}

.plane.meme .tile:not([data-light]) {
  opacity: 15%;
}

.tile.floor {
  background-color: rgb(126, 69, 12);
  color: hsl(70, 5%, 27%);
}

.tile.wall {
}

.tile.mover {
  color: hsl(20, 75%, 50%);
}
.tile.mover.input,
.tile.mover.inputable {
  color: hsl(220, 75%, 50%);
}
.tile.mover.input.focus,
.tile.mover.inputable.focused {
  color: hsl(120, 75%, 50%);
}

.tile.mover {
  --lightInit: 1;
}
.tile.mover.input {
  --lightInit: 2;
}
.tile.mover.input.focus {
  --lightInit: 8;
}

.tile.door {
  background-color: hsl(50, 25%, 15%);
  color: hsl(50, 90%, 30%);
  --action: "open";
  --morph_target: "!passable";
}
.tile.door::before { content: "🚪" }

.tile.door.passable {
  background-color: hsl(70, 5%, 12%);
  --action: "close";
}
.tile.door.passable::before { content: "-" }

.tile.rune { color: hsl(270, 80%, 65%) }

.tile.mover.support {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.plane { display: none }
.plane[data-plane="domgeon-inspect"],
.plane.meme { display: initial }

.plane[data-plane="domgeon-inspect"] { z-index: 1000 }
